<ion-header>
    <ion-toolbar>
        <ion-title>Dialer Page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="dialer-contents">
    <ion-grid class="dialer">
        <ion-row class="dialer-logs"></ion-row>

        <ion-row class="display">
            <ion-col size='10'>
                <span class="digits-display"></span>
            </ion-col>
            <ion-col col-2 class="backspace">
                <ion-icon name="backspace"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="pushed1">
                <span>1<ion-icon class="key-icon"
                                 name="recording"></ion-icon></span>
            </ion-col>
            <ion-col class="pushed2"><span>2<em>ABC</em></span></ion-col>
            <ion-col class="pushed3"><span>3<em>DEF</em></span></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="pushed4"><span>4<em>GHI</em></span></ion-col>
            <ion-col class="pushed5"><span>5<em>JKL</em></span></ion-col>
            <ion-col class="pushed6"><span>6<em>MNO</em></span></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="pushed7"><span>7<em>PQRS</em></span></ion-col>
            <ion-col class="pushed8"><span>8<em>TUV</em></span></ion-col>
            <ion-col class="pushed9"><span>9<em>WXYZ</em></span></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="pushedstar"><span>*<ion-icon class="key-icon"
                                                         name="copy"></ion-icon></span>
            </ion-col>
            <ion-col class="pushed0"><span>0<em>+</em></span></ion-col>
            <ion-col class="pushedpound"><span>#<em>, ;</em></span></ion-col>
        </ion-row>

        <ion-row class="dialer">
            <ion-col class="dial" (click)="presentLoading()">
                <ion-icon class="call" name="call"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
